.navbar {
	background-color: #ea80fc !important;
}

.nav-link {
	color: white !important;
	font-weight: bold !important;
}

.navbarlogo {
	width: 200px;
	height: 40px;
}

.fa-twitter,
.fa-user-circle-o {
	font-size: 25px !important;
}

.fa-graduation-cap,
.fa-stethoscope,
.fa-cutlery {
	font-size: 50px !important;
	margin-right: 10px;
	color: #ea80fc !important;
}

.card1,
.card2,
.card3 {
	display: flex;
	width: 300px;
	height: 100px;
	background-color: rgb(240, 224, 199);
	box-shadow: 2px 4px 5px gray;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.maincard {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.maincard h3 {
	color: #ea80fc;
}

@media screen and (max-width: 600px) {

	.card1,
	.card2,
	.card3 {
		width: 100%;
	}
}

.upcoming {
	margin-top: 30px;
}

.card {
	width: auto !important;
	height: auto !important;
	margin-top: 5px;
	margin-bottom: 10px;
}

.card>img {
	height: 200px;
}

.card-text {
	font-weight: bold;
}

.btn-primary {
	width: 100%;
	background-color: #ea80fc;
}

.heading {
	text-align: center;
	font-weight: bold;
	color: #ea80fc;
	margin: 20px;
}

.heading>h2 {
	text-shadow: 2px 2px 4px blue;
}

.footer {
	width: 100% !important;
	background-color: #ea80fc !important;
	height: 70px;
	padding-top: 10px;
}

h4 {
	color: white;
}

.footer>div {
	text-align: center !important;
	align-items: center !important;
}